# Environment variables for Snowflake
SNOWFLAKE_ACCESS_TOKEN=
SNOWFLAKE_ACCOUNT = 
SNOWFLAKE_USER = 
SNOWFLAKE_DATABASE = 
SNOWFLAKE_SCHEMA = 
SNOWFLAKE_PASSWORD=

# Environment variables for Azure Event Hubs
AZURE_EVENTHUB_CONNECTION_STRING=
AZURE_EVENTHUB_NAME=
AZURE_EVENTHUB_CONSUMER_GROUP=
AZURE_BLOB_STORAGE_CONNECTION_STRING=
AZURE_BLOB_CONTAINER_NAME=